{% extends "base.html" %}

{% block page_title %}Экипировка{% endblock %}

{% block page_main %}

<table>
    <tbody>
        <tr>
            <td>            
                <h3>{{ fighter.name }}</h3>
                {% for eq in equipment %}
                <form action="/take_off/" method="post">
                    <input type="hidden" name="next_state" value="/equipment/"/>
                    <p><strong>{{ eq.body_part.name }}</strong>
                        {% if eq.armor %}
                        - <i>{{ eq.armor.name }}</i>
                        <button type="submit">X</button>
                        <input type="hidden" name="armor" value="{{ eq.armor.id }}"/>
                        {% endif %}
                    </p>
                    {% csrf_token %}
                </form>
                {% endfor %}
                <hr/>
                <form action="/take_off/" method="post">
                    <input type="hidden" name="next_state" value="/equipment/"/>
                    <p><strong>Оружие - </strong>
                    {% if fighter.weapon %}
                        <i>{{ fighter.weapon.name }}</i>
                        <button type="submit">X</button>
                        <input type="hidden" name="weapon" value="weapon"/>
                    {% endif %}
                    </p>
                    {% csrf_token %}
                </form>
                <hr/>
            </td>
            <td>
                <h3>Инвентарь</h3>
                <form action="/equip/" method="post">
                    <input type="hidden" name="next_state" value="/equipment/"/>
                    <hr/>
                    {% for armor_info in armors %}
                    {% if armor_info.count > 0 %}
                    <div>
                        <input type="radio" name="armor" id="{{ armor_info.armor.id }}" value="{{ armor_info.armor.id }}"/>
                        <label for="{{ armor_info.armor.id }}">{{ armor_info.armor.name }} - {{ armor_info.count }}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <hr/>
                    {% for weapon_info in weapons %}
                    {% if weapon_info.count > 0 %}
                    <div>
                        <input type="radio" name="weapon" id="{{ weapon_info.weapon.id }}" value="{{ weapon_info.weapon.id }}"/>
                        <label for="{{ weapon_info.weapon.id }}">{{ weapon_info.weapon.name }} - {{ weapon_info.count }}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <hr/>
                    <button type="submit">Экипировать</button>
                    {% csrf_token %}
                </form>
            </td>
        </tr>
    </tbody>
</table>

<form action="/equipment/" method="post">
    <input type="hidden" name="continue" value="continue"/>
    {% if fighter.fight.stage.next %}
    <button type="submit">Продолжить задание</button>
    {% else %}
    <button type="submit">Квест завершен! Вернуться в лагерь</button>
    {% endif %}
    {% csrf_token %}
</form>
{% if fighter.fight.stage.next %}
<form action="/equipment/" method="post">
    <input type="hidden" name="leave" value="leave"/>
    <button type="submit">Сбежать</button>
    {% csrf_token %}
</form>
{% endif %}

{% endblock %}

{% block page_footer %}
    {% if user.is_autdenticated %}
    <a href='./logout/'>Выйти</a>
    {% endif %}
{% endblock %}
