{% extends "base.html" %}

{% block page_title %}Сражение{% endblock %}

{% block page_main %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action='/fight/' method='post'>
                {% for row in monsters_rows %}
                <div class="row mt-2">
                    {% if forloop.counter == 1 %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div class="h4">{{ fighter.name }}</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p><strong>❤:</strong> {{ fighter.health }} / {{ fighter.max_health }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>Защитить:</strong></p>
                                    {% for equipment in fighter.fighterequipment_set.all %}
                                    <p>
                                    {% if forloop.counter == 1 %}
                                    <input type="radio" name="defence" id="{{ equipment.id }}" value="{{ equipment.body_part.name }}" checked/>
                                    {% else %}
                                    <input type="radio" name="defence" id="{{ equipment.id }}" value="{{ equipment.body_part.name }}"/>
                                    {% endif %}                
                                    <label for="{{ equipment.id }}">{{ equipment.body_part.name }} - 🛡️
                                    {% if equipment.armor.armor %}
                                        {{ equipment.armor.armor }}
                                    {% else %}
                                        0
                                    {% endif %}
                                    </label>
                                    </p>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>            
                    </div>
                    <div class="col-1 d-flex align-items-center justify-content-center">
                        ⚔️
                    </div>
                    {% else %}
                    <div class="col"></div>
                    <div class="col-1"></div>
                    {% endif %}

                    {% for fight_monster in row %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div class="h4">{{ fight_monster.monster.name }}</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p><strong>❤:</strong> {{ fight_monster.hp }} / {{ fight_monster.monster.max_hp }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>Атаковать:</strong></p>
                                    {% for monster_armor in fight_monster.monster.monsterarmor_set.all %}
                                    <p>
                                    {% if forloop.counter == 1 %}
                                    <input type="radio" name="attack" id="{{ fight_monster.id }}_{{ monster_armor.id }}" value="{{ monster_armor.id }} {{ fight_monster.id }}" checked/>
                                    {% else %}
                                    <input type="radio" name="attack" id="{{ fight_monster.id }}_{{ monster_armor.id }}" value="{{ monster_armor.id }} {{ fight_monster.id }}"/>
                                    {% endif %}                
                                    <label for="{{ fight_monster.id }}_{{ monster_armor.id }}">{{ monster_armor.body_part.name }} - 🛡️ {{ monster_armor.armor }}</label>
                                    </p>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    {% if forloop.last %}
                        {% for _ in empty_cells %}
                        <div class="col"></div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="mt-2">
                    <button type="submit" class="btn btn-success">Завершить ход</button>
                </div>
            {% csrf_token %}
            </form>
        </div>
        <div class="col-3">
            {% if log %}
            <div class="card mt-2">
                <ul class="list-group list-group-flush">
                    {% for log_line in log %}
                    <li class="list-group-item bg-info">
                        <div class="card-text">{{ log_line }}<div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        {% if user.is_authenticated %}
        <div class="col-auto">
            <button onclick="location.href = '/logout/'" class="btn btn-danger">Выйти</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
