{% extends "base.html" %}

{% block page_title %}Инвентарь{% endblock %}

{% block page_main %}

<div class="container mt-3">
    <div class="row">
        <div class="col d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">                    
                    <form action="/rename/">
                        <div class="row">
                            <div class="col-md-auto h3">{{ fighter.name }}</div>
                            <div class="col">
                                <button type="submit" class="btn">&#x270D;</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    {% for eq in equipment %}
                    <form action="/take_off/" method="post">
                        <div class="row my-1">
                            <div class="col d-flex align-items-center">
                                <span class="fw-bold align-middle">{{ eq.body_part.name }}</span>
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                {% if eq.armor %}
                                <span class="fst-italic align-middle">{{ eq.armor.name }}</span>
                                {% endif %}
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                {% if eq.armor %}
                                <button type="submit" class="btn btn-sm btn-danger">X</button>
                                <input type="hidden" name="armor" value="{{ eq.armor.id }}"/>
                                {% else %}
                                <button type="submit" class="btn btn-sm btn-danger disabled">X</button>
                                {% endif %}
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                    {% endfor %}
                    <hr/>
                    <form action="/take_off/" method="post">
                    <div class="row my-1">
                        <div class="col d-flex align-items-center">
                            <span class="fw-bold align-middle">Оружие</span>
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            {% if fighter.weapon %}
                            <span class="fst-italic align-middle">{{ fighter.weapon.name }}</span>
                            {% endif %}
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            {% if fighter.weapon %}
                            <button type="submit" class="btn btn-sm btn-danger">X</button>
                            <input type="hidden" name="weapon" value="weapon"/>
                            {% else %}
                            <button type="submit" class="btn btn-sm btn-danger disabled">X</button>
                            {% endif %}
                        </div>
                    </div>
                    {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    <h3>Инвентарь</h3>
                </div>
                <div class="card-body">
                    <form action="/equip/" method="post">
                    <div class="overflow-auto" style="height: 80px">
                        {% for armor_info in armors %}
                        {% if armor_info.count > 0 %}
                        <div>
                            <input type="radio" name="armor" id="{{ armor_info.armor.id }}_{{ armor_info.armor.name }}" value="{{ armor_info.armor.id }}"/>
                            <label for="{{ armor_info.armor.id }}_{{ armor_info.armor.name }}">{{ armor_info.armor.name }} - {{ armor_info.count }}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <hr/>
                    <div class="overflow-auto" style="height: 80px">
                        {% for weapon_info in weapons %}
                        {% if weapon_info.count > 0 %}
                        <div>
                            <input type="radio" name="weapon" id="{{ weapon_info.weapon.id }}_{{ weapon_info.weapon.name }}" value="{{ weapon_info.weapon.id }}"/>
                            <label for="{{ weapon_info.weapon.id }}_{{ weapon_info.weapon.name }}">{{ weapon_info.weapon.name }} - {{ weapon_info.count }}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <hr/>
                    <button type="submit" class="btn btn-primary btn-sm">Экипировать</button>
                    {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto">
            <button onclick="location.href = '/shop/'" class="btn btn-primary">В магазин</button>
        </div>
        <div class="col-auto">
            <button onclick="location.href = '/quests/'" class="btn btn-primary">К списку заданий</button>
        </div>
    </div>
    <div class="row mt-3">
        {% if user.is_authenticated %}
        <div class="col-auto">
            <button onclick="location.href = '/logout/'" class="btn btn-danger">Выйти</button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
