{% extends "base.html" %}

{% block page_title %}Страница login{% endblock %}

{% block page_main %}
<form method='post' action='../login/'>
    {% csrf_token %}
    <label for="username">username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="password">password: </label>
    <input id="password" type="password" name="password" value="{{ password }}">
    <input type="submit" value="OK">
</form>
{% endblock %}

{% block page_footer %}
<a href='../signup/'>
    Создать аккаунт
</a>
{% endblock %}