{% extends "base.html" %}

{% block page_title %}Сбор лута{% endblock %}

{% block page_main %}

<div class="container">
    <div class="d-flex justify-content-center mt-2">
        <div class="card">
            <div class="card-header h2">Победа!</div>
            <div class="card-body">
                <p><strong>{{ fighter.name }} одержал победу</strong></p>
                <p>Среди останков монстров он обнаружил:</p>
                <ul>
                    {% for treasure in treasures %}
                    <li>{{ treasure }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <div>
                    <form action='/loot_collection/' method='post'>
                        <button class="btn btn-success" type="submit">Взять</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
