{% extends "base.html" %}

{% block page_title %}Список квестов{% endblock %}

{% block page_main %}

<div class="container">
    <div class="h2">
        Доступные задания
    </div>

    {% for quest in quests %}
        <div class="card my-4 flex-fill">
            <div class="card-header">
                <div class="h4">
                    {{ quest.name }}
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ quest.description }}</p>
            </div>
            <div class="card-footer">
                <form action="/start_fight/" method="post">
                    <input type="hidden" name="quest" value="{{ quest.id }}"/>
                    <button type="submit" class="btn btn-success">Отправиться</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-auto mt-2">
            <button onclick="location.href = '/inventory/'" class="btn btn-primary">Выбрать снаряжение</button>
        </div>
    </div>
    <div class="row mt-3">
        {% if user.is_authenticated %}
        <div class="col-auto">
            <button onclick="location.href = '/logout/'" class="btn btn-danger">Выйти</button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block page_footer %}

{% endblock %}
