{% extends "base.html" %}

{% block page_title %}Главная страница{% endblock %}

{% block page_main %}

<table>
    <tbody>
        <tr>
            <th>
                <h3>Инвентарь</h3>
                <hr/>
                <h4>Деньги - {{ fighter.money }}</h4>
                <form action="/shop/" method="post">
                <input type="hidden" name="sell"/>
                <hr/>
                {% for armor_info in armors %}
                {% if armor_info.count > 0 %}
                <div>
                    <input type="checkbox" name="armor" id="{{ armor_info.armor.id }}" value="{{ armor_info.armor.id }}"/>
                    <label for="{{ armor_info.armor.id }}">{{ armor_info.armor.sell_info }} ({{ armor_info.count }})</label>
                </div>
                {% endif %}
                {% endfor %}
                <hr/>
                {% for weapon_info in weapons %}
                {% if weapon_info.count > 0 %}
                <div>
                    <input type="checkbox" name="weapon" id="{{ weapon_info.weapon.id }}" value="{{ weapon_info.weapon.id }}"/>
                    <label for="{{ weapon_info.weapon.id }}">{{ weapon_info.weapon.sell_info }} ({{ weapon_info.count }})</label>
                </div>
                {% endif %}
                {% endfor %}
                <hr/>
                {% for treasure_info in treasures %}
                {% if treasure_info.count > 0 %}
                <div>
                    <input type="checkbox" name="treasure" id="{{ treasure_info.treasure.id }}" value="{{ treasure_info.treasure.id }}"/>
                    <label for="{{ treasure_info.treasure.id }}">{{ treasure_info.treasure.sell_info }} ({{ treasure_info.count }})</label>
                </div>
                {% endif %}
                {% endfor %}
                <hr/>
                <button type="submit">Продать</button>
                {% csrf_token %}
                </form>
            </th>
            <th>            
            <th>
                <h3>Магазин</h3>
                <form action="/shop/" method="post">
                <hr/>
                <input type="hidden" name="buy"/>
                {% for armor in armors_shop %}                
                <div>
                    <input type="checkbox" name="armor" id="{{ armor.id }}" value="{{ armor.id }}"/>
                    <label for="{{ armor.id }}">{{ armor.buy_info }}</label>
                </div>                
                {% endfor %}
                <hr/>
                {% for weapon in weapons_shop %}                
                <div>
                    <input type="checkbox" name="weapon" id="{{ weapon.id }}" value="{{ weapon.id }}"/>
                    <label for="{{ weapon.id }}">{{ weapon.buy_info }}</label>
                </div>                
                {% endfor %}
                <hr/>
                <button type="submit">Купить</button>
                {% csrf_token %}
                </form>
            </th>
        </tr>
    </tbody>
</table>
<div>
    <a href='/inventory/'>В инвентарь</a>
</div>

{% if error_message %}
<h4>{{ error_message }}</h4>
{% endif %}

{% endblock %}

{% block page_footer %}
    {% if user.is_authenticated %}
    <a href='./logout/'>Выйти</a>
    {% endif %}
{% endblock %}
